<%inherit file="base.html"/>
<div class="preload">
    <div class="header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
        <div id="placeholder-app-bar"></div>
    </div>
    <div id="app-main-layout">
        <div class="dashboard-body container-fluid main-section-body" data-role="main">
            <div class="row">
                <div class="span12 dashboard-header clearfix">
                    <h2>Stream Forwarder Logs</h2>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="span4 time-range-label">Select time range:</div>
                <div class="span2" id="el-timerange"></div>
            </div>

            <div class="dashboard-row">
                <div class="dashboard-cell" style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-head">
                                <h3>Errors and Warnings by Host</h3>
                            </div>
                            <div id="host-chart" class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-row">
                <div class="dashboard-cell" style="width: 100%;">
                    <div class="dashboard-panel">
                        <div class="dashboard-element">
                            <div class="panel-head">
                                <h3>Top Error/Warning Messages</h3>
                            </div>
                            <div id="message-chart" class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>


<script src="${make_url('/static/js/contrib/require.js')}"></script>
<script>
    // IE9 and IE10 fix
    if(!window.console) {
        var console = {
            log : function(){},
            warn : function(){},
            error : function(){}
        }
        // window.console=console;
    }
</script>

