<%inherit file="base.html"/>
<div class="preload">
    <div class="header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
        <div id="placeholder-app-bar"></div>
    </div>

    <!-- ============== -->
    <!-- Primary Layout -->
    <!-- ============== -->

    <div id="app-main-layout">

        <div class="container-fluid" id="main-streams-page">

            <!-- ====== -->
            <!-- Header -->
            <!-- ====== -->
            <div class="row-fluid top-header">
                <h1 class="span12 top-wrapper">
                    <div class="top-header-title">
                        Streams Config
                        <button class="btn btn-primary clone-stream-button" id="cloneStream">Clone Stream</button>
                    </div>
                </h1>
                <div class="span12 top-wrapper">
                    <div class="top-well">
                        Stream Type: 
                            <span class="stream-type" id="permanent-tab"><a href="#permanent">Permanent</a></span> 
                            <span class="stream-type" id="ephemeral-tab"><a href="#ephemeral">Ephemeral</a></span>
                    </div>
                </div>
            </div>    

            <div class="row-fluid">

                <!-- =========== -->
                <!-- Left Column -->
                <!-- =========== -->
                <div class="span2 left-column">

                    <!-- Selection Box -->

                    <div id="selection-container">
                        <span class="group-by">Group By:</span>
                        <select name="groups" id="group-by-selection" class="group-by-something" >
                            <option value="usage">Category</option>
                            <option value="application">Application</option>
                            <option value="protocol">Protocol</option>
                        </select>
                        <select id="group-by-selection-ephemeral" class="group-by-something" style="display:none">
                            <option value="application">Application</option>
                        </select>
                    </div>

                    <div class="row-fluid" id="categories-container">

                        <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                        <!-- Template goes here   -->

                        <!-- ~~~~~~~~~~~~~~~~~~~~ -->
                        
                    </div>

                </div>

                <!-- ============ -->
                <!-- Right Column -->
                <!-- ============ -->
                <div class="span10 right-column">
                    <div id="config">

                        <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                        <!-- Template goes here   -->

                        <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                    </div>
                </div>

            </div> <!-- end row-fluid -->

        </div> <!-- end container-fluid -->

    </div> <!-- end app-main-layout -->

    <!-- ================= -->
    <!-- Secondary Layout  -->
    <!-- ================= -->
    <div id="app-secondary-layout">
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="individual-config" class="span12">

                    <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                    <!-- Template goes here   -->

                    <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                </div>
            </div>
        </div>
    </div>  

    <!-- ======= -->
    <!-- Footer  -->
    <!-- ======= -->
    <div class="footer"></div>

    <!-- ======== -->
    <!-- Modals   -->
    <!-- ======== -->
    <div id="modal" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel"></div>

</div><!-- end preload -->

<script src="${make_url('/static/js/contrib/require.js')}"></script>

<script>
    // IE9 and IE10 fix
    if(!window.console) {
        var console = {
            log : function(){},
            warn : function(){},
            error : function(){}
        }
        // window.console=console;
    }
</script>

