<script id="confirm-dialog-template" type="text/template">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to
                        <span class="action btn-pill active">
                            <%=action%>
                        </span>
                            <%= obj.text %>
                </p>
                <p style="color: #d85d3c"> <%= warning %></p>
            </div>
            <div class="modal-footer">
              <a href="#" id="btnYes" class="btn btn-primary yes">Yes</a>
              <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
            </div>
        </div>
    </div>
</script>
