<script type="text/template">
    <table id="comparisons-table" class="table table-striped table-bordered table-hover comparisons-table" style="margin-top: 10px;">
        <thead><tr>
            <th>Term</th>
            <th>Comparison</th>
            <th>Value</th>
            <th>Match All</th>
            <th>Delete</th>
        </tr></thead>
        <tbody>
        <% for (var i = 0; i < filters.comparisons.length; i++) { %>
        <% var cmp = filters.comparisons[i]; %>
        <% var arity = comparisonTypes.get(cmp.type).get('arity'); %>
        <% var termCategory = terms.get(cmp.term).get('category'); %>
        <tr class="comp<%=i%>" data-ident="comp<%=i%>" data-term="<%= cmp.term %>" data-type="<%= cmp.type %>" data-value="<%= cmp.value %>" >
            <td class="term"><%= cmp.term %></td>

            <% if (stream.get('app') && stream.get('app') === 'Stream') { %>

                <% if (useSsc) { %>

                            <td class="synth">
                            </td>
                            <td class="comp-value"><input type="text" class="value" value="<%= cmp.value %>"
                                <% if (arity == 1) { %>
                                    disabled="disabled" /><i />
                                <% } else { %>
                                     /><i class="icon-pencil" />
                                <% } %>
                            </td>

                <% } else { %>

                            <td><select class="type">
                                <% comparisonTypes.each(function(type) { %>
                                <% var id = type.get('id'); %>
                                <% var categories = type.get('categories'); %>
                                <% if (categories.indexOf(termCategory) != -1) { %>
                                <option value="<%= id %>"<% if (cmp.type == id) { %> selected<% } %>><%= id %></option>
                                <% } %>
                                <% }); %>
                            </select></td>
                            <td><input type="text" class="value" value="<%= cmp.value %>"
                                <% if (arity == 1) { %> disabled="disabled" <% } %> />
                            </td>

                <% } %>
            <% } else { %>
                <td><%= cmp.type %></td>
                <td><input type="text" class="value" value="<%= cmp.value %>"></td>
            <% } %>

            <td><input type="checkbox" class="match-all-values"
                <% if (cmp.matchAllValues) { %> checked="checked" <% } %>"
                <% if (stream.get('app') && stream.get('app') !== 'Stream') { %> disabled <%} %>></td>
            <td class="delete-comparison-column">
                <% if (stream.get('app') && stream.get('app') === 'Stream') { %>
                    <i class="icon-trash delete-comparison">
                <% } %>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>
